<div class="row competidorRow">
  <div class="col s10 m6 l4 ">
    <div class="card-panel competidorCard">
      <div class="card-content">

        <div class="row center competidoriInfoContainer">
          <h5 class="competidorTitle">
            <b>Amazon</b>
          </h5>

          <div class="competidorUrlText grey-text">
            https://ww.amazon.com
          </div>

        </div>

        <div class="row center competidorKPIContainer">
          <span class="competidorKPI"> 10 <i class="material-icons green-text competidorKPIIcon">arrow_downward</i></span>
          <span class="competidorKPI"> 5 <i class="material-icons red-text competidorKPIIcon">arrow_upward</i></span>
        </div>

      </div>
    </div>
  </div>

  <div class="col s2 m6 l4">
    <div class="card-panel competidorCard">
      <div class="card-content">

        <div class="row center competidoriInfoContainer">
          <h5 class="competidorTitle">
            <b>Ebay</b>
          </h5>

          <div class="competidorUrlText grey-text">
            https://ww.ebay.com
          </div>

        </div>

        <div class="row center competidorKPIContainer">
          <span class="competidorKPI"> 7 <i class="material-icons green-text competidorKPIIcon">arrow_downward</i></span>
          <span class="competidorKPI"> 12 <i class="material-icons red-text competidorKPIIcon">arrow_upward</i></span>
        </div>

      </div>
    </div>
  </div>

  <div class="col l4 hide-on-med-and-down">
    <div class="card-panel competidorCard noBoxShadow">
      <div class="card-content center grey lighten-4 competidorAddContainer">
        <a href="#addCometidorCard"> <i class="material-icons grey-text competidorAddIcon">add</i> </a>
      </div>
    </div>
  </div>

</div>

<div class="row">
    <div class="col s12">
      <div class="card-panel" id="addCometidorCard">
        <div class="card-content">
          <form>

            <div class="row">
              <h5 class="grey-text text-darken-2">
                Agregar Competidor
              </h5>

              <div class="input-field col s12 m6">
                <input placeholder="" type="text" name="competidorName" id="competidorName" class="validate">
                <label for="competidorName">Nombre del Competidor</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m6">
                <input placeholder="http://www.competidor.com" type="text" name="competidorUrl" id="competidorUrl" class="validate">
                <label for="competidorUrl">URL</label>
              </div>
            </div>

            <div class="row">
              <a class="btn deep-orange">
                AGREGAR Competidor
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
