<div class="page-footer row light-blue darken-3 white-text mainContent">
  <div class="col s12 m5">
    ©2018 NextU Inc.
    <br/>
    Todos los derechos Reservados
  </div>

  <div class="col s12 m5">
    <br/>
    Terminos Y condiciones
  </div>

  <div class="col s12 m2">
    555-55-55
    <br/>
    Miami, Florida
    <br/>
    USA
  </div>
</div>
